@charset "utf-8";

body {
  font-family: 'Abel', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F8F8FF;
}

.entry-container {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  background: linear-gradient(to bottom, #4086a8, #f9f9f9);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.entry-list {
  margin-top: 20px;
}



/* Define styles for each journal entry */
.entry-item {
  margin-bottom: 10px; 
  padding: 10px;
  border: 1px solid #ccc; 
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* Style the textarea */
#entry-text {
  width: 80%;
  height: 200px;
  padding: 8px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  margin: 10px;
}

/* Style the textarea */
#entry-title {
  width: 50%;
  height: 20px;
  padding: 8px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  margin: 10px;
}

/* Style the dynamically created title with the assigned class */
.created-entry-title {
  display: inline-block;
  border: 1px solid black; 
  padding: 10px 5px; 
  margin-top: 0;
  border-color: #333;
  padding: 8px;
}

/* Style the Add Entry button */
#add-entry-form button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid #45a14548;
  margin: 5px;
}

/* Change button color on hover */
#add-entry-form button:hover {
  background-color: #45a049;
}

.timestamp {
  font-size: 0.8em;
  color: #888;
}

.stats-button {
  background-color: #3498db;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid #3498db;
}

.stats-button:hover {
  background-color: #2980b9;
}

.delete-button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: #e74c3c;
  color: white;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid #c0392b;
  margin-left: 10px;
}

.delete-button:hover {
  background-color: #c0392b;
}

.edit-button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: #e7bf3c;
  color: white;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid #e7b13c;
  margin-left: 10px;
}

.edit-button:hover {
  background-color: #e7b13c;
}